.wrapper {
    margin: auto;
    max-width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: block;
    text-align: center;
    background-color: rgb(117, 172, 223);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 1);
}

.cityHeader {
    color: #fff;
    font-size: 1.75rem;
}

.temperature {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.condition, .feelsLike p {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
}

.details, .moreDetails {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.humidity p, .windSpeed p, .pressure p {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.loading {
    color: #fff;
    font-size: 2rem;
}

.line {
    width: 100%;
    border: none;
    border-top: 3px solid #ccc;
    margin: 20px 0;
}

select {
    margin-bottom: 20px;
    padding: 8px;
    border-radius: 6px;
    width: 100%;
    border: 2px solid rgb(91, 134, 173);
    background-color: rgb(175, 209, 241);
    font-weight: 600;
}

select:focus {
    outline: none;
}