.wrapper {
    margin: auto;
    max-width: 100%;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: block;
    text-align: center;
    background-color: rgb(117, 172, 223);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 5px 1px rgba(66, 68, 90, 1);
}

.city {
    color: #fff;
    font-size: 1.75rem;
}

.temperature {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 600;
}

.condition {
    color: #fff;
    font-size: 1.25rem;
    font-weight: 600;
}

.details {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50%;
}

.humidity p, .windSpeed p {
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
}

.loading {
    color: #fff;
    font-size: 2rem;
}