.container {
  @apply mx-auto max-w-[500px];
}

.siteTitle {
  @apply text-4xl text-gray-500 font-bold my-12;
}

.navLinks {
  @apply flex list-none p-0;
}

.navLinkItem {
  @apply pr-8;
}

.navLinkText {
  @apply text-black hover:text-blue-600;
}

.heading {
  @apply text-purple-700 text-2xl font-semibold my-6;
}
