@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.container {
    margin: auto;
    max-width: 500px;
    font-family: 'Inter';
}

.heading {
    color: rebeccapurple;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.site-title {
    font-size: 3rem;
    color: gray;
    font-weight: 700;
    margin: 3rem 0;
}